* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth"100;
}

:root {
    --main-bg-color: #343A40;
    --main-font-color: #E1E8EB;
    --main-font-accent-color: #FFC107;
    --main-accent-color: #7952B3;
}

body {
    background-color: var(--main-bg-color);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-font-color);
}

.container {
    height: 400px;
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.left-info {
    width: 260px;
    height: 100%;
    float: left;
    display: flex;
    border-radius: 25px;
    justify-content: center;
    background: var(--main-accent-color);
    background-position: center;
    background-size: cover;
    transform: scale(1.03) perspective(200px);
    cursor: pointer;
    box-shadow: 0 0 20px -10px rrgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.left-info:hover {
    transform: scale(1.1);
}

.today-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap: 5px;
}

.today-weather {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    bottom: 20px;
    left: 20px;
}

.today-weather .fa-solid {
    font-size: 2rem;
}

.weather-temp {
    font-weight: 700;
    font-size: 3.5rem;
}

.right-info {
    float: right;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.day-info {
    padding: 25px 35px;
    display: flex;
    flex-direction: column;
}

.day-info div:not(:last-child) {
    margin-bottom: 6px;
}

.day-info div .title {
    font-weight: 600;
}

.day-info div .value {
    float: right;
}

.btn-container {
    padding: 25px 35px;
}

.loc-button {
    outline: none;
    width: 100%;
    border: none;
    font-weight: 700;
    border-radius: 25px;
    padding: 10px;
    background: var(--main-bg-color);
    color: var(--main-font-color);
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    transition: all 0.3s ease;
}

#search {
    outline: none;
    width: 100%;
    border: none;
    font-weight: 700;
    border-radius: 25px;
    padding: 10px;
    background: var(--main-font-color);
    color: var(--main-accent-color);
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    margin-bottom: 10px;
}

.loc-button:hover {
    transform: scale(1.1);
    background: var(--main-accent-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

i {
    color: var(--main-font-color);
}